.wf-component {
    padding: 1rem;
    margin: 1rem;
}

.wf-component h1 {
    /*padding-top: 0.5rem;*/
    padding-bottom: 0.5rem;
    /*margin-top: 0.5rem;*/
    margin-bottom: 0.5rem;
    
    font-size: 2rem;
    box-shadow: 0 0.25rem white;

    border-bottom-left-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
}