$primary: #00cba9;
$secondary: #8AD4C0;
$danger: #E45E66;
$information: #24A5AD;
$background: #E5DED6;
$greyed: #022922;
$font-family: 'Roboto';
$font-family-sans-serif: 'Roboto';


:root {
    --primary-wAlpha: #00cba925;
    --primary-greyed: #022922;
}





@import '~bootstrap/scss/bootstrap';

